.popup{position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);
width: 300px;height: 300px;background: #fff;z-index: 2;}
.popup h1{text-align: center;margin: 10% 0;}
.popup p{text-align: center;}
.popup a{position: absolute;right: 10%;top: 10%;}


.gnb{position: fixed;right: 10%;z-index: 3;}
.gnb ul{display: flex;}

.sliderW{width:100%;position: relative;}
.sliderW div{width: 100%;height: 100vh;}

.slick-arrow{position: absolute;z-index: 1;top: 50%;}
.slick-prev{left: 10%;}
.slick-next{right: 10%;}


.cont1{background: #aaf;}
.cont2{background: #44a;}
.cont3{background: #65f;}
.cont4{background: #aad;}
.cont5{background: #ffa;}